body{
	font-family: 'Cuprum', sans-serif;
	/*margin: 2px 2px 2px 2px;*/
}
h2{
	padding-top: 10%;
}
#contactForm{
	padding-top: 2px !important;
}
#myCarousel {
  height: 400px;
  width: auto;
  overflow: hidden;
}

/* Portrait */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
	
  
}